.cabecalho {
background-color:#04146c;
 color: white;
 display:flex;
 justify-content: space-around;
}

.cabecalho-imagem {
    width: 20%;}

    .cabecalho-lista-item{
        display: inline-block;
    }

















